# Ignore all binaries by default to prevent accidental uploads from build folders
*.bin

# Permite binarele din folderul bin pentru release
!bin/*.bin
*.elf

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# OS files
.DS_Store
Thumbs.db